%navigation.navbar
  .title
    = link_to "/" do
      %h1 Tamarra Thal

  .actions
    .desktop
      = link_to "Projects", "/"
      = link_to "About", "/"
      = link_to "https://www.linkedin.com/in/tamarrathal", target: "_blank" do
        %i.fab.fa-linkedin-in
      = link_to "https://twitter.com/TamarraThal", target: "_blank" do
        %i.fab.fa-twitter

    .mobile
      %i.fa.fa-bars
      = render "layouts/mobile_links"
